<div class="face-snap-card snapped" [ngClass]="{snapped:nameButton==='Oops, un snap !'}">
  <h2>{{faceSnap.title | uppercase  }}</h2>
  <a routerLink="/facesnaps" > Back </a>
  <p>Mise en ligne : {{faceSnap.createDate | date:'d MMMM yyyy' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{faceSnap.description}}</p>
  <p *ngIf="faceSnap.location"> photo prise à {{faceSnap.location}}</p>

  <p>
    <button (click)="onSnap()">{{nameButton}}</button>
    <span [ngStyle]="{color:'rgb(0,'+faceSnap.snaps+',0)'}">{{faceSnap.snaps}}</span>
  </p>
</div>

