<div class="face-snap-card snapped" [ngClass]="{snapped:nameButton==='Oops, un snap !'}">
  <h2>{{faceSnap.title | uppercase  }}</h2>
  <p>{{faceSnap.description}}</p>
  <button (click)="onViewFaceSnap()">VIEW</button>
</div>

