*{
  font-family:Roboto,Helvetica,sans-serif;
}
body{
  padding:0px;
  margin:0px;
}
button {
  background-color: transparent;
  color: black;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: darkgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  &:active {
    transform: translate(2px, 2px);
    box-shadow: darkblue 1px 1px 5px;
  }
}
